version: '3.8'
services:
  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    ports:
      - "8081:8081"
  frontend:
    build:
      context: src/frontEnd/fhir-gateway-ui
      dockerfile: ../../../frontend.Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend
